section.notes-container {
    position: relative;
}
.note {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 40px;
    width: 100%;
    margin: 0 auto;
}

.note .note-title {
    text-align: center;
}
.note .note-description {
    text-align: center;
}

@media (min-width: 768px) and (max-width: 961px) {
    .note {
        max-width: 650px;
    }
}

@media (min-width: 1536px) {
    .note {
        max-width: 650px;
    }
}